{{ $sections := .Page.Params.tocSections }}
<div class="toc">
  <details open>
    <summary accesskey="c" title="(Alt + C)">
      <span class="details">{{- i18n "toc" | default "Table of Contents" }}</span>
    </summary>
    <div class="inner">
      <ol>
        {{ range $sections }}
          <li>
            {{ if .live }}
              <a href="{{ .path }}">{{ .title }}</a>
            {{ else }}
              {{ .title }} (coming soon)
            {{ end }}
          </li>
        {{ end }}
      </ol>
    </div>
  </details>
</div>
